<mat-tab-group>
  <mat-tab label="Card View">
      <div *ngFor="let cust of custInfo">
          <app-customer-card [customerCardInfo]="cust"></app-customer-card>
    </div>
  </mat-tab>
  <mat-tab label="Table View">
    <app-customer-table [customerTableInfo]="custInfo"></app-customer-table>
  </mat-tab>
  <mat-tab label="List View">
      <app-customer-list [customerListInfo]="custInfo"></app-customer-list>
  </mat-tab>
  <mat-tab label="New Customer">
    <app-new-customer></app-new-customer>
  </mat-tab>
</mat-tab-group>

