.card {
  max-width: 200px;
  text-align: left;
  border-style: solid;
  padding: 1px;
}

.img-class {
  background-image: auto;
}

.header {
  background-color: skyblue;
  font-weight: bold;
  text-align: left;
  border-bottom: thin;
  padding-top: 10px;
  padding-bottom: 10px;
}

.title-group {
  text-align: left;;
}
