<mat-card class="card">
  <mat-card-header class="header">
    {{customerCardInfo.name}}
  </mat-card-header>
  <mat-card-title-group class="title-group">
    <img mat-card-avatar class="img-class" src="https://material.angular.io/assets/img/examples/shiba1.jpg">
    <div fxLayout="column">
      <div>
        <mat-card-title>{{customerCardInfo.city}},</mat-card-title>
      </div>
      <div>
        <mat-card-subtitle>{{customerCardInfo.state}}</mat-card-subtitle>
      </div>
      <div>
        <button mat-flat-button color="primary" class="button">View Orders</button>
      </div>
    </div>
  </mat-card-title-group>
</mat-card>
<!--C:/Users/amrit/Female_Avatar_image.jpg-->
<!--https://material.angular.io/assets/img/examples/shiba1.jpg-->