<h4 class="header">List of Customers</h4>

<mat-grid-list cols="8" rowHeight="100px">
    <div class="tile">
        <mat-grid-tile *ngFor="let custList of customerListInfo" [colspan]="2" [rowspan]="2">
            <div fxLayout="column">
                <div class="name">{{custList.name}}</div>
                <div>{{custList.city}},</div>
                <div>{{custList.state}}</div>
                <div>{{custList.dob}}</div>
                <div>{{custList.phone}}</div>
                <div>{{custList.email}}</div>
            </div>
        </mat-grid-tile>
    </div>
</mat-grid-list>